/vendor export-ignore
/.laravel-integration export-ignore
/.workflow export-ignore
/.agents export-ignore
/AGENTS.md export-ignore
/tests export-ignore
/.github export-ignore
/.phpunit.cache export-ignore
/.phpunit.result.cache export-ignore
/.phpstan-cache export-ignore
/.idea export-ignore
/.temp export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/phpunit.xml.dist export-ignore
/phpcs.xml export-ignore
/phpstan.neon export-ignore
/phpstan-baseline.neon export-ignore
/phpstan-stubs export-ignore
